%h2.text-center.mt-4 タスク詳細

.container.mt-5
  .card
    .card-header.bg-primary.text-white
      %h2.mb-0= @task.title
    .card-body
      .row
        .col-md-8
          %h4.card-title 詳細:
          %p.card-text= @task.memo
          %h4.mt-4 担当者:
          %p.card-text
            - if @task.executor
              = "#{@task.executor.name}"
            - else
              未割り当て
          %h4.mt-4 作成者:
          %p.card-text= @task.user.name
          %h4.mt-4 作成日:
          %p.card-text= @task.created_at.strftime('%Y年%m月%d日')
