.container
  %h2.text-center.mt-4.mb-4 完了済みタスク
  %table.table.table-striped.table-hover
    %thead.table-light
      %tr
        %th やったこと
        %th 担当者
        %th 完了日
        %th
    %tbody
      - @completed_tasks.each do |task|
        %tr
          %td= task.title
          %td
            - if task.executor
              = "#{task.executor.name}"
          %td= task.completed_at.strftime("%Y/%m/%d")
          %td
            = button_to '未完了にする', task_complete_path(task), method: :delete, data: { turbo_confirm: '未完了にしますか？' }, class: 'btn btn-outline-danger'
